<form action="/mark/add" method="POST">
<p>
    <label>Student ID</label><input value="" name="Sid"><br>
    <label>Student Name</label><input value="" name="Sname"><br>
    <label>Student Mark 1</label><input value="" name="m1"><br>
    <label>Student Mark 2</label><input value="" name="m2"><br>
    <label>Student Mark 3</label><input value="" name="m3"><br>
    <label>Student Mark 4</label><input value="" name="m4"><br>
    <label>Student Mark 5</label><input value="" name="m5"><br>
    <label>Student Mark 6</label><input value="" name="m6">
    <button type="submit">Add Details</button>
</p>

</form>